OPENAI_API_KEY=sk-wmeqtisbwesotfnheyyytlvtuxqbouvfpeitwqxcparauvji
OPENAI_BASE_URL=https://api.siliconflow.cn/v1
OPENAI_MODEL=deepseek-ai/DeepSeek-V3.2
# SERP_API_KEY=3456765ae5707190fccebce4dc994afc0cdc7a6080675df742b25f14604c4887
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=yibiao-images
MINIO_SECURE=false
MINIO_PUBLIC_BASE_URL=http://127.0.0.1:9000
MINIO_PRESIGNED_EXPIRE_SECONDS=604800
MINIO_OBJECT_PREFIX=document-images
